# --- Core Frameworks ---
pyrogram
tgcrypto
pyromod
flask
gunicorn==22.0.0

# --- Database & Network ---
motor
pymongo
dnspython
requests
aiohttp
aiofiles
tldextract

# --- Media Processing ---
yt-dlp
pytube
ffmpeg-python
hachoir
Pillow
filetype

# --- Utils & System ---
numpy
psutil
pytz
python-utils
olefile
